<form class="myform" action="/main/reserveringToevoegen" method="post">
    <br>
    <br>
    <label for="tafelnummer">tafelnummer</label><br>
    <input type="number" name="tafelnummer" value="" id="tafelnummer"><br><br>

    <label for="datum">datum</label><br>
    <input type="date" name="datum" value="" id="datum"><br><br>

    <label for="tijd">tijd</label><br>
    <input type="time" name="tijd" value="" id="tijd"><br><br>

    <label for="klant voornaam">voornaam</label><br>
    <input type="text" name="klant_voornaam" value="" id="klant voornaam"><br><br>

    <label for="klant achternaam">achternaam</label><br>
    <input type="text" name="klant_achternaam" value="" id="klant achternaam"><br><br>

    <label for="status">status</label><br>
    <input type="text" name="status" value="" id="status"><br><br>

    <label for="datum van toevoegen">datum van toevoegen</label><br>
    <input type="date" name="datum_van_toevoegen" value="" id="datum van toevoegen"><br><br>

    <label for="aantal totaal">aantal totaal</label><br>
    <input type="number" name="aantal_totaal" value="" id="aantal totaal"><br><br>

    <label for="aantal kinderen">aantal kinderen</label><br>
    <input type="number" name="aantal_kinderen" value="" id="aantal kinderen"><br><br>

    <label for="allergieen">allergieën</label><br>
    <input type="text" name="allergieen" value="" id="allergieen"><br><br>

    <label for="opmerkingen">opmerkingen</label><br>
    <input type="text" name="opmerkingen" value="" id="opmerkingen"><br><br>

    <input class="button" type="submit" name="submit" value="verstuur">
</form>
